@import "fonts";
@import 'wheel';
@import 'loader';

html, body {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
}

body {
  background-image: url(../img/bg.jpg);
  background-position: center center;
  background-size: cover;
}

#app {
  font-family: 'Inter';
  text-align: center;
  color: #fff;
}

.content {
  position: relative;
  max-width: 1085px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 10px 0 10px;
}

.logo {
  max-width: 278px;
}

.title {
  margin: 50px auto 40px;
  font-size: 56px;
  font-weight: 700;
  font-style: normal;
  background: #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.image {
  display: none;
}

.prize {
  max-width: 100%;
  margin-top: 40px;
  padding: 24px 40px;
  background: rgba(15, 15, 21, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  border-radius: 30px;

  &__title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 8px;
  }

  &__list {
    display: flex;
    column-gap: 80px;
    align-items: stretch;
    justify-content: space-between;
  }

  &__item {
    max-width: 172px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(15, 15, 21, 0.8);
  display: none;
  align-items: center;
  justify-content: center;

  &__head {
    width: 100%;
    padding: 16px 20px;
    font-size: 24px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    background: #3B2D99;
    box-sizing: border-box;
  }

  &__body {
    padding: 24px 0;
    max-width: 328px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
  }

  &__result {
    font-size: 28px;
    word-break: break-word;
  }

  &__info {
    color: rgba(143, 144, 166, 1);
  }

  &__btn {
    padding: 8px 24px;
    background: linear-gradient(135deg, #FF3B3B 0%, #6600CC 100%);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.32);
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    width: fit-content;
    cursor: pointer;
    border: none;
    box-shadow: none;
    outline: none;
  }
}

.modal-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  background: #140F33;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2), 0px 4px 20px rgba(0, 0, 0, 0.5);
  border-radius: 24px;
  max-width: 800px;
  width: 100%;
  min-height: 300px;
  color: #fff;
  font-weight: 700;
  font-family: 'Inter';
}

@media only screen and (max-width: 600px) {
  body {
    margin: 0;
    background-image: url('../img/bg-element.png'), url(../img/bg-small.jpg);
  }

  .logo img {
    width: 151px;
  }

  .title {
    margin: 30px auto 50px;
    font-size: 36px;
  }

  .image {
    display: block;
    position: absolute;
    z-index: -1;
    top: 19%
  }

  .prize {
    margin-bottom: 270px;

    &__list {
      column-gap: 18px;
    }

    &__item {
      width: 95px;

      & img {
        width: 100%;
      }
    }

    &__title {
      font-size: 16px;
    }

    &__name {
      font-size: 12px;
    }
  }

  .modal {
    &-content {
      width: 100%;
    }

    &__head {
      font-size: 20px;
    }
  }

  .footer {
    padding: 12px 0;

    &__img {
      width: 1200px;
    }
  }
}

#formRegistration {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 4px;
  width: 100%;
  text-align: start;
}

.form-control {
  width: 100%;
  padding: 12px 10px 12px 50px;
  background: #252638;
  border: 1px solid #555770;
  border-radius: 8px;
  color: #fff;
  box-sizing: border-box;
}

.label {
  color: #8F90A6;
  font-size: 12px;
  font-weight: 500;
}

.form-element {
  width: 100%;
  position: relative;
}

.form-element_phone {
  display: flex;
}

.form-element_phone .form-control {
  padding: 12px 10px;
}

.form-element_phone .form-control_not-editable {
  width: 58px;
  pointer-events: none;
}

.icon-input {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.icon-show-pass {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
}

.flex {
  display: flex;
  column-gap: 10px;
}
