.luckywheel {
  position: relative;
  margin: 0 auto;
  width: fit-content;
}

.wheel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.wheel__wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: 100%;
  height: 100%;
}

.wheel__element {
  width: 480px;
  height: 480px;
}

.wheel__element img {
  width: 100%;
  height: 100%;
}

.wheel__active {
  position: absolute;
  right: -3%;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
}

.wheel__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  width: 135px;
  height: auto;
}

.wheel__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
}

.wheel__text-block {
  display: grid;
  grid-template-areas: "layer";
  place-items: center;
  border-radius: 50%;

  --radius: 128px;
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));

  .wheel__text-wrap {
    position: relative;
    grid-area: layer;
    width: 10vmin;
    height: 10vmin;
    border-radius: 50%;

    display: grid;
    place-items: center;

    color: white;
    font-weight: bold;
    font-size: 3vmin;

    --d: calc(var(--i) / var(--total));
    --r-offset: -0.25turn;
    --r-amount: 1turn;
    --r: calc((var(--r-amount) * var(--d)) + var(--r-offset));
    --transform: rotate(var(--r)) translate(var(--radius)) rotate(0);

    transform: var(--transform);
    transition: transform 1.5s ease-in-out;
  }
}

.wheel__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  olor: #F5F5F5;
  transform-origin: center center;
}

.wheel__text-wrap:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -62px;
  transform: translateY(-50%) rotate(-90deg);
  width: 0;
  height: 0;
  border-left: 95px solid transparent;
  border-right: 95px solid transparent;
  border-bottom: 235px solid #56CCF2;
  z-index: -1;
  opacity: 0;
  transition: 0.2s ease-in opacity;
}

.wheel__text-wrap.active:before {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .wheel {
    width: 328px;
    height: 328px;

    &__btn {
      width: 90px;
    }

    &__active {
      width: 40px;
    }

    &__text {
      font-size: 14px;
    }

    &__text-block {
      --radius: 90px;

      .wheel__text-wrap {
        width: 100%;
      }
    }

    &__element img {
      width: auto;
    }

    &__text-wrap:before {
      left: -50px;
      border-left: 65px solid transparent;
      border-right: 65px solid transparent;
      border-bottom: 170px solid #9f0a3f;
    }
  }
}
